PORT=3001

POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=postgres
POSTGRES_PORT=5432

POSTGRES_ENDPOINT=localhost:5432

JWT_SESSION_SECRET=supersecretkey
JWT_FIRST_ACCESS_SECRET=supersecretkey
PASSWORD_SALT_ROUNDS=10

WEB_URL=http://localhost:5173